* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(233, 233, 233);
  height: 100vh;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.img-container {
  width: 90%;
  margin: auto;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
