.home {
  height: 100vh;
  background: #80bf81;
}

main, .home-container {
  max-width: 400px;
  margin: 0 auto;
}

.home-container {
  height: 100%;
  display: grid;
  align-items: center;
  text-align: center;
}

.flex-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px 10px;
}

section {
  background: #80bf81;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
