<%= render "dog_header" %>
<main>
  <div class="container">
    <%# <img  src="https://res.cloudinary.com/dj2f2ofgq/image/upload/v1675494633/production/hod4u0uelajnz4yp5moc7bx4ivj2.jpg"/> %>
    <p>HI</p>
  </div>
</main>
