<div>

  <div class="dogs-container flex-basic">
    <% @dogs.each do |dog| %>
      <p><%= dog.name %></p>
    <% end %>

  </div>


  <div class="reminders">

  </div>


  <div class="actions">
    <div>Basics</div>
    <div>Meals</div>
    <div>Walks</div>
    <div>Medications</div>
  </div>

</div>
