a {
  text-decoration: none;
  .btn {
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 2px 0px black;
    &:hover {
      cursor: pointer;
      border: 2px solid black;
    }
    &:focus {
      box-shadow: none;
      position: relative;
      top: 2px;
    }
  }
}

.btn {
  &.white {
    background: #fff;
  }
}
